:root{ 
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body{
    background-image: url(./assets/bg-image.jpg);
    background-size: cover;

}

#page{
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    margin: 48px auto 28px;
    box-sizing: border-box;
    border-radius: 24px;
}

main{
    margin-top: 24px;
    padding: 24px 0px 24px 24px
}

img{
    border-radius: 16px;
}

h1{
    font-size: 40px;
    line-height: 140%;
    
}

#about p + p{
    margin-top: 12px;
}

section + section{
    margin-top: 24px;
}

h2{
    font-size: 24px;

}

h1, h2{
    color: #291B1A;
    margin-bottom: 4px;
}

ul{
    padding-left: 24px;
}

footer{
    color: #F0E8C2;
    text-align: center;
}